# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Assets.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects 2020\Hat-Maker-2\Assets\.idea\.idea.Assets.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
